
.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  padding-top: 2rem;
  padding-bottom: 1.2rem;
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
